.contact {
    margin-top: 120px;
    width: 100%;
    font-size: 24px;
    background: #393e46;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    padding-top: 24px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #393e46;
}

.text {
    margin: 8px;
    padding-left: 12px;
    height: 36px;
    width: 50%;
    min-width: 300px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    font-size: 16px;
}

.email {
    margin: 8px;
    padding-left: 12px;
    height: 36px;
    width: 50%;
    min-width: 300px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    font-size: 16px;
}

.message {
    margin: 8px;
    padding-left: 12px;
    height: 72px;
    width: 50%;
    min-width: 300px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    font-size: 18px;
}

.send {
    margin: 8px;
    margin-bottom: 32px;
    padding-left: 12px;
    height: 36px;
    width: 40%;
    min-width: 300px;
    border: 0;
    border-radius: 4px;
    background-color: rgb(60, 155, 60);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}

.contact__text {
    color: #ffffff;
    box-sizing: border-box;
    width: 80%;
    margin-top: 60px;
    display: inherit;
    flex-direction: column;
    align-items: center;
}

.contact__text h3 {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 700;
}

.contact__text p {
    margin: 8px;
    font-size: 18px;
    font-weight: 600;
}

.contact__logos {
    box-sizing: border-box;
    height: 150px;
    max-width: 1200px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.contact__logo--container {
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__logos--figure img {
    height: 80px;
    width: 80px;
    padding: 10px;
}

.contact__logos--figure img:hover {
    height: 88px;
    width: 88px;
    padding: 10px;
}

@media only screen and (max-width: 320px) {
    
    .contact__logo--container {
        height: 70px;
        width: 70px;
    }

    .contact__logos {
        height: 100px;
    }

    .contact__logos--figure img {
        height: 50px;
        width: 50px;
    }

    .contact__logos--figure img:hover {
        height: 54px;
        width: 54px;
    }

    .contact__text p {
        font-size: 14px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 479px) {

    .contact__logo--container {
        height: 70px;
        width: 70px;
    }

    .contact__logos {
        height: 100px;
    }

    .contact__logos--figure img {
        height: 50px;
        width: 50px;
    }

    .contact__logos--figure img:hover {
        height: 54px;
        width: 54px;
    }

    .contact__text p {
        font-size: 14px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .contact__logo--container {
        height: 70px;
        width: 70px;
    }

    .contact__logos {
        height: 100px;
    }

    .contact__logos--figure img {
        height: 50px;
        width: 50px;
    }

    .contact__logos--figure img:hover {
        height: 54px;
        width: 54px;
    }

    .contact__text p {
        font-size: 14px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1140px) {

    .contact__logo--container {
        height: 70px;
        width: 70px;
        margin: 0px 30px;
    }

    .contact__logos {
        height: 100px;
    }

    .contact__logos--figure img {
        height: 70px;
        width: 70px;
    }

    .contact__logos--figure img:hover {
        height: 75px;
        width: 75px;
    }

    .contact__text p {
        font-size: 14px;
        padding-bottom: 20px;
    }
}
