.div__principal {
    width: 100vw;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.principal__proyect {
    border: 4px solid #222831;
    border-radius: 16px;
    margin: 0;
    padding: 30px;
    background: #ffffff;
    box-sizing: border-box;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 3px 8px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 8px 4px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 8px 4px rgba(0,0,0,0.2);
} 

.principal__proyect--images {
    margin: 0;
    width: 38%;
}

.principal__screens {
    width: 100%;
}

.principal__text {
    width: 55%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
    font-weight: 500;
    color: #000000;
}

@media only screen and (max-width: 320px) {

    .principal__proyect {
        width: 92%;
        padding: 10px;
        flex-direction: column;
    }

    .principal__proyect--images {
        margin: 0px;
    }

    .principal__screens {
        width: 70vw;
    }

    .principal__text {
        width: 280px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 479px) {

    .principal__proyect {
        width: 90%;
        padding: 10px;
        flex-direction: column;
        align-items: baseline;
    }

    .principal__proyect--images {
        margin: 0px;
    }

    .principal__screens {
        width: 70vw;
    }

    .principal__text {
        width: 280px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .principal__proyect {
        width: 85vw;
        padding: 12px;
        flex-direction: column;
    }
    
    .principal__proyect--images {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        margin: 0px;
    }

    .principal__screens {
        width: 60vw;
        max-width: 300px;
    }

    .principal__text {
        width: 80vw;
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1140px) {

    .principal__proyect {
        width: 95%;
        padding: 20px;
    }

    .principal__proyect--images {
        margin: 0px;
    }

    .principal__screens {
        width: 280px;
    }

    .principal__text {
        width: 420px;
        font-size: 22px;
    }
}